<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://webhooksbctechdays20240610135402.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/66ff086b-54c8-408a-adf2-9f6c73a172fb/resourcegroups/bctechdays/providers/Microsoft.Web/sites/WebhooksBCTechDays20240610135402</ResourceId>
    <UserName>$WebhooksBCTechDays20240610135402</UserName>
    <_SavePWD>true</_SavePWD>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://webhooksbctechdays20240610135402.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>